*{
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 20%;
  margin-right:20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4{
  font-size: 1rem;
  color: #b7a5a5;
  
}
h3{
  font-size: 1.5rem;
  color: #b7a5a5;
  line-height: 2.5rem;
  margin: 2rem 0rem;
}
a{
  color: #b7a5a5;
}

.styled-yum {
  margin: 0rem 20rem;
}
.styled-yum div{
  width: 100%;
  position: relative;
}
.styled-yum input{
  border: none;
  background: linear-gradient(35deg, #494949, #313131);
  font-size: 1rem;
  margin: 0.7rem;
  color: white;
  padding: 1rem 3rem;
  border-radius: 1rem;
  outline: none;
  width: 100%;
}
.styled-yum button{
  margin-left: 30%;
  margin-top: 10px;
  background: linear-gradient(35deg,#ed3434, #6c1d1d);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  color: white;
  }
.styled-yum h3{
  margin-top: 30px;
}